*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-size: 1.5em;
    min-width: 900px;
    font-family: 'Open Sans', sans-serif;
    color: #a4a5a6;
}

.header {
    display: flex;
    width: 100%;
}

.header__left {
    background-color: #2b2c2c;
    width: 30%;
    min-height: 100vh;
    height: 100%;
}

.header__photo {  
    display: block;                
    width: 50%;
    margin: auto;
    margin-top: 50%;
}

.header__right {
    background-color: #333333;
    width: 70%;
    min-height: 100vh;
    height: 100%;
}

.header__info {
    display: flex;
    flex-flow: column wrap;
    margin: 12em 3em;
}

.info__small {
    text-transform: lowercase;
}

.info__orange {
    text-transform: uppercase;
    color: rgb(255, 136, 0);
}

.header__contacts {
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    text-align: left;
    font-size: 0.75em;
    border-top: solid 1px #4a4b4b;
    justify-content: space-between;
    padding: 2em 4em;
}
