* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-size: 1.5em;
  min-width: 900px;
  font-family: "Open Sans", sans-serif;
  color: #a4a5a6;
}



.main {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-height: 10em;
}

.main__left {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-flow: column nowrap;
  padding-right: 1.5em;
  padding-top: 1.5em;
  width: 30%;
  background-color: #2b2c2c;
}

.main__left--color2 {
  background-color: #292a2a;
}

.main__right {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  padding: 1.5em;
  background-color: #2d2e2e;
}

.main__right--header {
  flex-flow: column nowrap;
}

.main__right--color2 {
  background-color: #2b2c2c;
}

.main--header {
  height: 100%;
  min-height: 100vh;
}

.main__photo {
  width: 8em;
  margin: auto;
  margin-right: 0;
}

.main__info {
  margin-top: auto;
}

.main__contacts{
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  font-size: 0.75em;
  border-top: solid 1px #4a4b4b;
  justify-content: space-between;
  padding: 1em;
  margin-top: auto;
}

.main__contacts--footer {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  font-size: 0.75em;
  border-bottom: solid 1px #4a4b4b;
  justify-content: space-between;
  padding: 0 1em 1em 0;
}

.contact {
  min-width: 200px;
  padding: 1em 0.5em 1em 0;
}

.info--small {
  text-transform: capitalize;
  font-size: 2em;
}

.info--orange {
  text-transform: uppercase;
  font-size: 2em;
  color: rgb(255, 136, 0);
}


.info__title {
  font-size: 1.5em;
  text-align: right;
}

.expertise {
  width: 50%;
  min-width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.expertise__number, .expertise__title, .expertise__text  {
  margin: 0.5em;
  margin-left: 0;
}

.expertise__number {
  color: orange;
  font-weight: 600;
}

.expertise__title {
  font-weight: 600;
}

.expertise__text {
width: 100%;
}

.certificate {
  width: 400px;
  display: block;
  margin: 1em 0; 
  transition: ease .6s;
  border-radius: 1em;
}

.certificate:hover {
  transform: scale(2.5);
  position: relative;
}

.portfolio-card {
  width: 100%;
  min-width: 500px;
  max-width: 900px;
  position: relative;
  overflow: hidden;
}

.card__image {
  width: 100%;
  transition: ease .6s;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  color: white;
  height: 100%;
  transition: ease .6s;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding-left: 2em;

}

.portfolio-card:hover  .card__image{
transform:  scale(1.02);
}

.portfolio-card:hover  .card__overlay{
  opacity: 1;
  background-color: rgb(51, 51, 51, 0.8);
}
