* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-size: 1.5em;
  min-width: 900px;
  font-family: "Open Sans", sans-serif;
  color: #a4a5a6;
}

.main {
  display: flex;
  box-sizing: border-box;
  width: 100%;
}

.main__left {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-flow: column nowrap;
  padding-right: 1.5em;
  width: 30%;
  background-color: #2b2c2c;
}

.main__left--color2 {
  background-color: #292a2a;
}

.main__right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  padding: 1.5em;
  background-color: #2d2e2e;
}

.main__right--color2 {
  background-color: #2b2c2c;
}

.main--header {
  height: 100%;
  min-height: 100vh;
}

.main__photo {
  width: 8em;
  margin: auto;
  margin-right: 0;
}

.main__info {
  margin-top: auto;
}

.main__contacts {
  width: 90%;
  margin-top: auto;
}

.info__small {
  text-transform: capitalize;
}

.info__orange {
  text-transform: uppercase;
  color: rgb(255, 136, 0);
}

.main__contacts {
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  font-size: 0.75em;
  border-top: solid 1px #4a4b4b;
  justify-content: space-between;
  padding: 1em;
}
